# Dependencies
node_modules/

# Next.js
.next/
out/
dist/

# Build
build/
*.tsbuildinfo

# Testing
coverage/
*.lcov

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
*.sass.cache
.cache/
.npm/
.eslintcache

# Storybook
storybook-static/

# Debug
*.pem
*.tsbuildinfo

# Vercel
.vercel/

# Optional
*.pem
*.key
